.c-timeline {
  &-container{
    position: relative;
    margin-top: 0.1em !important;
  }
  border-left-width: 2px;
  border-left-style: solid;
  margin-left: calc(1rem - 2px);
  padding-left: 25px;
  position: absolute;
  top: 2.2em;
  left: -0.2em;
  height: 89%;
  &--grey{
    border-color: rgba($grey, .15);
  }
  &--point {
    height: 10px;
    width: 10px;
    position: absolute;
    border-radius: 50%;
    left: -6px;
    top: -14px;

    &--orange{
      background: $orange;
    }
  }
}